body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url('walpeper1.jpg'); /* ganti dengan nama file fotonya */
      background-size: cover;   /* biar penuh layar */
      background-position: center; /* posisi tengah */
      background-repeat: no-repeat; /* biar gak ngulang */
    }
    
    .judul{
      font-weight: 600;
      text-shadow: 0 0 10px grey;
    }

    nav {
      background: #00000000; /* transparan */
      backdrop-filter: blur(2px); /* efek blur */
      box-shadow: 0 0 10px grey;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
    }
    
    nav ul{
      list-style: none;
      display: flex;
      gap: 1rem;
      margin-right: 15px;
    }
    
    nav ul li a{
      text-decoration: none;
      font-family: Segoe UI;
      font-size: 12px;
      color: black;
      border: 1px solid black;
      box-shadow: 0 0 10px grey;
      border-radius: 13px;
      padding: 0.2rem 0.3rem;
      transition: all;
      transition-duration: 0.3s;
    }
    
    nav ul li a:hover{
      background-color: #59515145;
      color: #59515145;
      border: 1px solid #59515145;
    }
    /*NAVBAR SELESAI*/
    
    .judul-materi{
      font-size: 28px;
      text-align: center;
      margin-top: 15px;
    }
    
    div details{ 
      border: 1px solid black;
      margin-right: 15px;
      margin-left: 15px;
    
    p{
      line-height: 1.8rempx;
      margin-left: 16px;
      margin-right: 16px;
      font-weight: 500;
      
    }